.menu {
  display: inline-block;
  height: 100vh;
}
a {
  color: rgb(237, 241, 241);
}
.overall {
  display: flex;
}
.overall table,
thead,
tbody,
th,
td,
tr {
  border: 2px solid rgb(13, 13, 13);
}
.column {
  margin-left: 100px;
  padding-top: 30px;
}
